cached-property==1.5.2
inflection==0.5.1
MarkupSafe==2.1.5
mypy-extensions==1.0.0
SQLAlchemy==2.0.34
sqlalchemy-orm==1.2.10
typing-inspect==0.9.0
typing_extensions==4.12.2
Werkzeug==3.0.4
pytest
pytest-flask
